@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 47 100% 95%;
    --foreground: 47 5% 10%;
    --card: 47 50% 90%;
    --card-foreground: 47 5% 15%;
    --popover: 47 100% 95%;
    --popover-foreground: 47 100% 10%;
    --primary: 47 100% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 47 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 9 30% 85%;
    --muted-foreground: 47 5% 35%;
    --accent: 9 30% 80%;
    --accent-foreground: 47 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 47 5% 90%;
    --border: 47 30% 50%;
    --input: 47 30% 18%;
    --ring: 47 100% 45%;
    --radius: 1rem;
  }
  .dark {
    --background: 47 50% 10%;
    --foreground: 47 5% 90%;
    --card: 47 50% 10%;
    --card-foreground: 47 5% 90%;
    --popover: 47 50% 5%;
    --popover-foreground: 47 5% 90%;
    --primary: 47 100% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 47 30% 17%;
    --secondary-foreground: 0 0% 100%;
    --muted: 9 30% 17%;
    --muted-foreground: 47 5% 60%;
    --accent: 9 30% 17%;
    --accent-foreground: 47 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 47 5% 90%;
    --border: 47 30% 18%;
    --input: 47 30% 18%;
    --ring: 47 100% 45%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
